#reservation{
  position: relative;
  background-image: url("/assets/img/block1.png");
  background-repeat: no-repeat;
  padding: 98px 0 110px;
  .reservation__wrapp{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px;
    position: relative;
    z-index: 10;
    &__form{
      display: flex;
      justify-content: flex-end;
      form{
        background: #ffffff;
        padding: 32px 40px 32px 28px;
        border-radius: 10px;
        width: 300px;
        h4{
          font-size: 26px;
          color: #5363db;
          font-family: 'Open Sans', sans-serif;
          margin-bottom: 30px;
        }
        input,
        select{
          background: #f2f2f2;
          border: none;
          height: 50px;
          box-sizing: border-box;
          width: 100%;
          margin-bottom: 16px;
          padding: 0 12px;

          ::placeholder {
            color: #888888;
            opacity: 1;
          }
        }
        .button{
          display: flex;
          justify-content: flex-end;
          button{
            background: #5b6ceb;
            color: #ffffff;
            height: 50px;
            box-sizing: border-box;
            width: 174px;
            border-radius: 10px;
            margin-top: 14px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
          }
        }

      }
    }
    &__text{
      margin: 51px 0 0 61px;
      h1{
        font-size: 48px;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        line-height: 68px;
        margin-bottom: 38px;
      }
      h4{
        font-family: Script;
        font-size: 40px;
        color: #ffffff;
      }
    }
  }
}

#reservation:before{
position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(117, 130, 226, 0.8);
}

#reservation:after{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(83, 99, 119, 0.4);
}