#blog {
  padding: 120px 0 120px;
  display: flex;
  justify-content: center; }
  #blog h3 {
    font-family: Script;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
    margin-left: 58px;
    margin-bottom: 74px; }
  #blog .blog__wrapp {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 28px; }
    #blog .blog__wrapp__items {
      display: grid;
      grid-template-rows: 300px;
      grid-template-columns: repeat(2, 1fr);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
      border-radius: 10px; }
      #blog .blog__wrapp__items img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px 0 0 10px; }
      #blog .blog__wrapp__items__text {
        padding: 46px 50px  50px 16px; }
        #blog .blog__wrapp__items__text h4 {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: bold;
          color: #777777;
          text-transform: uppercase;
          margin-bottom: 32px; }
        #blog .blog__wrapp__items__text p {
          color: #555555;
          font-size: 14px;
          font-family: 'Open Sans', Regular;
          margin-bottom: 16px;
          line-height: 20px; }
        #blog .blog__wrapp__items__text h6 {
          color: #999999;
          font-size: 14px;
          font-family: 'Open Sans', Regular; }
