header {
  padding: 24px 0;
  background: #ffffff;
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%; }
  header nav {
    display: flex;
    justify-content: center; }
    header nav .nav__list {
      display: flex;
      justify-content: center;
      align-items: center; }
      header nav .nav__list .nav__list__item {
        margin: 0 15px; }
        header nav .nav__list .nav__list__item a {
          font-family: 'Open Sans', semibold;
          display: flex;
          position: relative;
          color: #555555;
          font-size: 16px;
          text-decoration: none; }
        header nav .nav__list .nav__list__item a:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 1px;
          background-color: #5363db;
          bottom: -8px;
          left: 4px;
          display: none; }
        header nav .nav__list .nav__list__item a:hover {
          color: #5363db; }
        header nav .nav__list .nav__list__item a:hover:after {
          display: flex; }
      header nav .nav__list #logo {
        margin: 0 140px; }
        header nav .nav__list #logo a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #5363db;
          font-family: Champagne;
          font-size: 24px;
          text-decoration: none; }
